<ActionBar title="About Us" class="action-bar">
</ActionBar>
<StackLayout class="page">
    <StackLayout class="p-10 border">
        <StackLayout>
            <Label class="name" text="Our History">
            </Label>
            <Label class="body-history" textWrap="true" text="
            Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. 
            With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.
            The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.">
            </Label> 
        </StackLayout>
    </StackLayout>

    <Label class="header" text="Corporate Leadership">
    </Label>
    <ListView [items]="leaders" class="list-group" *ngIf="leaders">
        <ng-template let-leader="item">
            <StackLayout orientation="horizontal" class="list-group-item">
                <Image row="0" col="0" rowSpan="2" height="120" width="100"  [src]="leader.image" class="thumb p-20 img-circle"></Image>
                <GridLayout class="list-group-item" rows="auto auto *" columns="*">
                    <Label row="0" col="0" [text]="leader.name" class="name"></Label>
                    <Label row="1" col="0" [text]="leader.designation" class="design"></Label>
                    <Label row="2" col="0" [text]="leader.description" class="body" textWrap="true"></Label>   
                </GridLayout>
            </StackLayout>
        </ng-template>
    </ListView>
     
    <ActivityIndicator busy="true"  *ngIf="!(leaders || errMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
    <Label *ngIf="errMess" [text]="'Error: ' + errMess"></Label>
</StackLayout>