<ActionBar title="Contact Us" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
</ActionBar>
<GridLayout rows="auto auto auto">
<StackLayout class="p-20 border">
    <Label class="contact" text="Contact Info: "></Label>
    <Label textWrap="true" text="
                    121, Clear Water Bay Road
                    Clear Water Bay, Kowloon
                    HONG KONG
                    Tel: +852 1234 5678
                    Fax: +852 8765 4321
                    Email:confusion@food.net"></Label>
    <GridLayout orientation="horizontal" rows="*" columns="*,*" class="m-t-20">
        <Button 
        row="0" 
        col="0" 
        [text]="('&#xf095; Call')" 
        class="btn btn-rounded-sm btn-outline color fa" (tap)="callRestaurant()"></Button>
        <Button 
        row="0" 
        col="1" 
        [text]="('&#xf003; Email')" 
        class="btn btn-rounded-sm btn-outline color fa" 
        (tap)="sendEmail()"></Button>
    </GridLayout>
</StackLayout>
</GridLayout>